// filter and search
.filter-search{
    box-shadow: 0px 4px 20px 0px #78787826;
    @include py(28px);

    .filter-box{
        .select-item{
            height: 50px;
            border-color: #98C3FA;
            @include border-radius(10px);
            color: map-get($colors, 'clr-yale-blue');
            margin-right: 10px;
            @include font-w(400);
            letter-spacing: $paragraph-letter-spacing;
            // @include bg-color(#E0E0E0);

            option{
                color: rgba(0, 0, 0, 0.56);
                @include bg-color(map-get($colors, 'clr-white'));
            }

            @include breakpoint-up(xxl){
                margin-right: 30px;
            }

            &:first-child{
                min-width: 249px;
            }
        }
    }

    .search-box{
        .input-group{
            height: 50px;
            @include w-100;
            max-width: 100%;

            @include breakpoint-up(lg){
                max-width: 312px;
            }
            
            &-text{
                border-color: rgba(12, 10, 122, 0.2)!important;
                border-right: 0;
            }

            .form-control{
                border-left: 0;

                &:focus{
                    border-color:rgba(12, 10, 122, 0.2);
                }
            }
        }

        button{
            width: 100%!important;
            @include breakpoint-up(sm){
                width: auto!important;
            }
        }
    }
}

// personal update form
.form-check{
    margin-right: 12px;
    @include px(12px);

    @include breakpoint-up(lg){
        @include px(24px);
    }
}

.form-element{
    @include my(12px);

    @include breakpoint-down(lg){
        @include my(10px);
    }

    @include breakpoint-down(sm){
        @include my(8px);
    }

    @include breakpoint-down(xs){
        @include my(6px);
    }
}

.form-control, .form-select{
    @include border(rgba(48, 50, 61, 0.2), 2px);
    height: 46px!important;
    @include border-radius(4px!important);

    @include breakpoint-down(lg){
        height: 44px;
    }

    @include breakpoint-down(sm){
        height: 38px!important;
    }
}

.form-control, .select2-search__field{
    @include input-placeholder{
        @include p-text-sm;
    }
}

textarea.form-control{
    height: 160px!important;
}