.card-item{
    @include my(16.5px);
    @include px(16.5px);

    &-title{
        color: map-get($colors, 'clr-dark');
    }

    &-info{
        @include my(10px);
    }

    &-body{
        @include py(28px);
    }

    &-link{
        color: map-get($colors, 'clr-crayola')!important;
        @include d-inline-block;
        margin-top: 12px;

        &:hover{
            color: map-get($colors, 'clr-primary')!important;
        }
    }
}

.card-sm-item{
    box-shadow: 13.5484px 0px 5.41935px rgba(0, 0, 0, 0.01), 7.22581px 0px 4.51613px rgba(0, 0, 0, 0.05), 3.6129px 0px 3.6129px rgba(0, 0, 0, 0.09), 0.903226px 0px 1.80645px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    @include bg-color(map-get($colors, 'clr-white'));
    @include border-radius(12px);
    overflow: hidden;

    &-img{
        height: 420px;
    }
}

.card-profile{
    @include border(black(0.3));
    @include p(40px, 24px, 48px, 24px);

    &-img{
        @include box(160px);
        @include border-r-circle;
        overflow: hidden;
    }
}

.card-featured{
    box-shadow: 1.11111px 7.22222px 16.1111px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    @include border-radius(4px);

    &-img{
        max-height: 372px;
        overflow: hidden;
    }

    &-body{
        @include py(32px);
        @include px(24px);
    }

    &-link{
        color: map-get($colors, 'clr-crayola')!important;
    }
}

.card-wide{
    box-shadow: 1.11111px 7.22222px 16.1111px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    @include border-radius(6px);
    overflow: hidden;

    &-link{
        color: map-get($colors, 'clr-crayola')!important;
    }
}