
%title{
    @include font($font-family-notosans);
    color: $heading-color;
}

.title{
    &-sm{
        @extend %title;
        @include font-w("bold");
        @include font-s(18, normal, 0.05);
        @include breakpoint-up(sm){ @include font-s(20);}
        @include breakpoint-up(lg){@include font-s(24)}
        @include breakpoint-up(xxl){@include font-s(26);}
    }
    &-base{
        @extend %title;
        @include font-w("bold");
        @include font-s(24, normal, 0.05);
        @include breakpoint-up(sm){ @include font-s(28);}
        @include breakpoint-up(lg){@include font-s(32)}
        @include breakpoint-up(xxl){@include font-s(36);}
    }

    &-lg{
        @extend %title;
        @include font-w("extra-bold");
        @include font-s(28, normal, 0.03em);
        @include breakpoint-up(sm){ @include font-s(32);}
        @include breakpoint-up(lg){@include font-s(36)}
        @include breakpoint-up(xxl){@include font-s(45);}
    }
}

.sc-top-info{
    display: flex!important;
    @include align-items(center);

    &-line{
        @include box(92px, 2px);
        @include bg-color(black(0.25));
        margin-right: 13px;
    }
    &-text{
        color: map-get($colors, 'clr-primary-v1');
    }
}

.title-link{
    color: map-get($colors, 'clr-navy-blue')!important;
    font-family: $font-family-notosans;

    span{
        @include transition-default;
    }

    &:hover{
        span{
            @include opacity(1);
        }
    }
}

.title-box{
    min-height: 55px;
    min-width: 273px;
    @include d-inline-flex;
    @include flex-center;

    @include breakpoint-up(md){
        width: auto!important;
    }
}

.title-underline{
    @include pos-relative;
    padding-bottom: 21px;

    &::after{
        content: "";
        @include pos-absolute(100%, null, null, 0);
        @include box(103px, 3px);
        @include bg-color(map-get($colors, 'clr-yale-blue'));
    }
}