// mixin for colors and background generation
@mixin gen-props($prefix, $property){
    @each $color-name, $color in $colors{
        $temp-color-name: str-replace($color-name, "clr-", "");
        #{$prefix}-#{$temp-color-name}{
            #{$property}: $color
        }
    }
}

// mixin for font weights
@mixin gen-font-weight($prefix, $property){
    @each $weight-name, $weight in $font-weights{
        $i: index(($font-weights), ($weight-name $weight));
        #{$prefix}-#{$i}{
            #{$property}: $weight;
        }
    }
}

// mixin for opacity
@mixin gen-opacity($prefix, $property){
    @for $i from 1 through 9{
        #{$prefix}-0#{$i}{
            #{$property}: unquote("0.")#{$i};
        }
    }
}

.op-none{ opacity: 1!important; }

// mixin for font sizes
@mixin gen-font($prefix, $property){
    @each $size-name, $size in $font-size{
        #{$prefix}-#{$size-name}{
            #{$property}: unquote($size + "px");
        }
    }
}

// color generation
@include gen-props(".text", "color");
// background color generation
@include gen-props(".bg", "background-color");
// font weights generations
@include gen-font-weight('.fw', "font-weight");
// opacity generation
@include gen-opacity(".op", "opacity");
// font size generation
@include gen-font(".fs", "font-size");


.font{
    &-firasans{ font-family: $font-family-firasans;}
    &-notosans{font-family: $font-family-notosans;}
}

// image cover
.img-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

// no wrap 
.no-wrap{ white-space: nowrap; }

// animation and transition stopper 
.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

// text justify
.text-justify{ text-align: justify; }

@include breakpoint-up(sm){
    .text-sm-justify{ text-align: justify}
}

@include breakpoint-up(md){
    .text-md-justify{ text-align: justify}
}

@include breakpoint-up(lg){
    .text-lg-justify{ text-align: justify}
}

@include breakpoint-up(xl){
    .text-xl-justify{ text-align: justify}
}

// misc
.is-hidden{ @include hidden; }
.cf{ @include cf; }

// height
.vh-100{ height: 100vh!important; }

// widths
.w-13{ width: 13px; }

// letter spacing
.ls-heading{ letter-spacing: $heading-letter-spacing; }
.ls-para{ letter-spacing: $paragraph-letter-spacing; }
.ls-04{ letter-spacing: 0.04em; }
.ls-05{ letter-spacing: 0.05em; }
.ls-08{ letter-spacing: 0.08em; }

// font size
.fs-10{ @include font-s(10); }
.fs-12{ @include font-s(12); }
.fs-13{ @include font-s(13); }

// border
.border-dashed-amber{ border: 1px dashed map-get($colors, 'clr-amber'); }
.border-dashed-malachite{ border: 1px dashed map-get($colors, 'clr-malachite'); }
.border-dashed-black-05{ border: 1px dashed rgba(0, 0, 0, 0.5); }
.border-dashed-primary-v1{ border: 1px dashed map-get($colors, 'clr-primary-v1'); }
.border-top-amber{ @include border(map-get($colors, 'clr-amber'), 4px, top); }
.border-top-malachite{ @include border(map-get($colors, 'clr-malachite'), 4px, top); }

// border radius
.border-r-6{
    @include border-radius(6px);
}

// custom padding and margins
.mb-12px{ margin-bottom: 12px; }
.mt-12px{ margin-top: 12px; }
.pt-12px{ padding-top: 12px; }
.pb-12px{ padding-bottom: 12px; }
.mb-80px{ margin-bottom: 80px;}

.bottom-overflow-fade {
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}
  
.top-overflow-fade {
    mask-image: linear-gradient(to top, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to top, black 80%, transparent 100%);
}

.top-bottom-overflow-fade {
    mask-image: linear-gradient(transparent, black 20%, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(transparent, black 20%, black 80%, transparent 100%);
}

.single-line-list{
    display: flex;
    li{
        @include px(10px);
        border-right: 2px solid black(0.3);

        &:first-child{
            @include hard--left;
        }

        &:last-child{
            border-right: none;
        }
    }
}

.min-width-auto{ min-width: auto!important; }

.content-stylings{
    img:first-of-type{
        @include border-radius(8px);
    }

    p, a, ul, blockquote{
        @include p-text-sm;
        @include font-w(400);
        letter-spacing: 0.08em;
        line-height: 1.6!important;
    }
    ul{
        list-style-type: disc;
        margin-left: 24px;

        li{
            margin: 10px 0;
        }
    }

    blockquote{
        font-style: italic;
    }
}