
.sc-blogs-grid{
    .blogs-grid-list{
        @include grid;
        column-gap: 24px;

        @include breakpoint-up(xl){
            grid-template-columns: repeat(2, 1fr);

            .blog-card{
                &:nth-child(1){
                    grid-row: 1/4;
                }
            }
        }
    }
}

.sc-blogs-single{
    .content-stylings{
        @include border-radius(8px);
        @include p-all(16px);
        @include border(rgba(38, 38, 38, 0.2));

        p{
            &:first-of-type{
                margin-top: 32px;
            }
        }
    }

    .blogs-aside{
        @include border(rgba(38, 38, 38, 0.2));
        @include border-radius(8px);
        @include p-all(16px);

        &-items{
            & > div{
                margin-bottom: 8px;
            }
        }

        &-item{
            box-shadow: 0.626223px 0.626223px 2.50489px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
            @include border-radius(5.00978px);
            @include overflow-hidden;

            &-img{
                height: 140px;

                @include breakpoint-down(lg){
                    height: 200px;
                }

                @include breakpoint-down(xs){
                    height: 180px;
                }
            }
        }
    }
}